@page "/addstudent"
@using System.Text.Json;
@using System.Text;
@using static System.Net.WebRequestMethods;
@inject HttpClient Http
@attribute [Authorize]

<PageTitle>Add Student</PageTitle>

<h1>Add Student</h1>

@if (isFormSubmitted)
{
    <p class="text-success">Student added successfully!</p>
    <p></p>
}
else
{
    <EditForm Model="newStudent" OnValidSubmit="AddStudent">
        <ValidationSummary />

        <div class="form-group">
            <label for="name">Name</label>
            <InputText id="name" class="form-control" @bind-Value="newStudent.Name" />
            <ValidationMessage For="@(() => newStudent.Name)" />
        </div>

        <div class="form-group">
            <label for="surname">Surname</label>
            <InputText id="surname" class="form-control" @bind-Value="newStudent.Surname" />
            <ValidationMessage For="@(() => newStudent.Surname)" />
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <InputText id="email" class="form-control" @bind-Value="newStudent.Email" />
            <ValidationMessage For="@(() => newStudent.Email)" />
        </div>

        <div class="form-group">
            <label for="dateOfBirth">Date of Birth</label>
            <InputDate id="dateOfBirth" class="form-control" @bind-Value="newStudent.DateOfBirth" />
            <ValidationMessage For="@(() => newStudent.DateOfBirth)" />
        </div>

        <div class="form-group">
            <label for="startingStudyYear">Starting Study Year</label>
            <InputNumber id="startingStudyYear" class="form-control" @bind-Value="newStudent.StartingStudyYear" />
            <ValidationMessage For="@(() => newStudent.StartingStudyYear)" />
        </div>

        <div class="form-group">
            <label for="startingStudyYear">Current Department Id</label>
            <InputNumber id="currentDepartmentId" class="form-control" @bind-Value="newStudent.CurrentDepartmentId" />
            <ValidationMessage For="@(() => newStudent.CurrentDepartmentId)" />
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Add Student</button>
    </EditForm>
}

@code {
    private CreateStudent newStudent = new CreateStudent();
    private bool isFormSubmitted = false;

    private async Task AddStudent()
    {
        newStudent.UserId = "";
        newStudent.CreateStudentAddress = new CreateStudentAddress();
        string apiUrlCreate = "https://localhost:44363/api/students";
        var content = new StringContent(JsonSerializer.Serialize(newStudent), Encoding.UTF8, "application/json");
        var response = await Http.PostAsync(apiUrlCreate, content);
        Console.WriteLine(response);

        if (response.IsSuccessStatusCode)
        {
            isFormSubmitted = true;
        }
        else
        {
            isFormSubmitted = false;
       
        }
    }

    public class CreateStudent
    {
        public string UserId { get; set; }
        public string Name { get; set; }
        public string Surname { get; set; }
        public string Email { get; set; }
        public DateTime DateOfBirth { get; set; }
        public int StartingStudyYear { get; set; }

        public CreateStudentAddress CreateStudentAddress { get; set; }
        public int CurrentDepartmentId { get; set; }
    }

    public class CreateStudentAddress
    {
        public string Street { get; set; }
        public int Number { get; set; }
        public string City { get; set; }
        public int ZipCode { get; set; }
        public string Country { get; set; }
    }
}