@page "/addstudent"
@using System.Text.Json;
@using System.Text;
@using static System.Net.WebRequestMethods;
@using System.ComponentModel.DataAnnotations;
@inject HttpClient Http
@attribute [Authorize]

<PageTitle>Update Student</PageTitle>

<h1>Add Student</h1>

@if (isFormSubmitted)
{
    <p class="text-success">Student updated successfully!</p>
    <p></p>
}
else
{
    <EditForm Model="newStudent" OnValidSubmit="AddStudent">
        <DataAnnotationsValidator />
        
        <div class="form-group">
            <label for="name">Name</label>
            <InputText id="name" class="form-control" @bind-Value="newStudent.Name" />
            <ValidationMessage For="@(() => newStudent.Name)" />
        </div>

        <div class="form-group">
            <label for="surname">Surname</label>
            <InputText id="surname" class="form-control" @bind-Value="newStudent.Surname" />
            <ValidationMessage For="@(() => newStudent.Surname)" />
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <InputText id="email" class="form-control" @bind-Value="newStudent.Email" />
            <ValidationMessage For="@(() => newStudent.Email)" />
        </div>

        <div class="form-group">
            <label for="dateOfBirth">Date of Birth</label>
            <InputDate id="dateOfBirth" class="form-control" @bind-Value="newStudent.DateOfBirth" />
            <ValidationMessage For="@(() => newStudent.DateOfBirth)" />
        </div>

        <div class="form-group">
            <label for="startingStudyYear">Starting Study Year</label>
            <InputNumber id="startingStudyYear" class="form-control" @bind-Value="newStudent.StartingStudyYear" />
            <ValidationMessage For="@(() => newStudent.StartingStudyYear)" />
        </div>

        <br/>
        <button type="submit" class="btn btn-primary">Add Student</button>
    </EditForm>
}

@code {
    private CreateStudentDto newStudent = new CreateStudentDto();
    private bool isFormSubmitted = false;

    private async Task AddStudent()
    {
        # region Hardcoded values

        newStudent.UserId = "";
        newStudent.CurrentDepartmentId = 1;
        newStudent.CreateStudentAddress = new CreateStudentAddress();
        newStudent.CreateStudentAddress.Street = "";
        newStudent.CreateStudentAddress.Number = 0;
        newStudent.CreateStudentAddress.City = "";
        newStudent.CreateStudentAddress.ZipCode = 0;
        newStudent.CreateStudentAddress.Country = "";

        #endregion

        // Format date to UTC
        DateTime inputDateTime = newStudent.DateOfBirth;
        string formattedDateString = inputDateTime.ToUniversalTime().ToString("yyyy-MM-ddTHH:mm:ss.fffZ");
        DateTime formattedDate = DateTime.ParseExact(formattedDateString, "yyyy-MM-ddTHH:mm:ss.fffZ", null, System.Globalization.DateTimeStyles.AssumeUniversal);
        newStudent.DateOfBirth = formattedDate;

        // Send POST request
        string apiUrlCreate = "https://localhost:44363/api/students";
        var json = JsonSerializer.Serialize(newStudent);
        var data = new StringContent(json, Encoding.UTF8, "application/json");
        var response = await Http.PostAsync(apiUrlCreate, data);
        isFormSubmitted = true;
    }

    public class CreateStudentDto
    {
        public string UserId { get; set; }

        [Required(ErrorMessage = "Name is required")]
        public string Name { get; set; }

        [Required(ErrorMessage = "Surname is required")]
        public string Surname { get; set; }

        [Required(ErrorMessage = "Email is required")]
        [EmailAddress(ErrorMessage = "Email is wrong")]
        public string Email { get; set; }

        [Required(ErrorMessage = "Date of birth is required")]
        public DateTime DateOfBirth { get; set; }

        [Required(ErrorMessage = "Starting study year is required")]
        public int StartingStudyYear { get; set; }

        public CreateStudentAddress CreateStudentAddress { get; set; }
        public int CurrentDepartmentId { get; set; }
    }

    public class CreateStudentAddress
    {
        public string Street { get; set; }
        public int Number { get; set; }
        public string City { get; set; }
        public int ZipCode { get; set; }
        public string Country { get; set; }
    }
}
