@page "/register"
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@using System.Text.Json;
@using StudentsApp.Client.Models;
@using StudentsApp.Client.Helpers


<h3>Register</h3>

<EditForm Model="user" OnSubmit="HandleRegister">
    <label for="username">Name</label>
    <InputText id="username" class="form-control" @bind-Value="user.Username" />
    <ValidationMessage For="@(() => user.Username)" />

    <label for="email">Email</label>
    <InputText id="email" class="form-control" @bind-Value="user.Email" />
    <ValidationMessage For="@(() => user.Email)" />

    <label for="password">Password</label>
    <InputText id="password" class="form-control" @bind-Value="user.Password" type="password" />
    <ValidationMessage For="@(() => user.Password)" />
    <br/>
    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

@if (!string.IsNullOrEmpty(handelResponse.errorDivMessage))
{
    <br />
    <div class="alert alert-danger">@handelResponse.errorDivMessage</div>
    <div class="alert alert-danger">@handelResponse.errorDivDetails</div>
}


<p>You already have an account?</p>
<button @onclick="Login" class="btn btn-primary">Login</button>


@code {

    RegisterUserModel user = new RegisterUserModel();
    HandleResponse handelResponse = new HandleResponse();

    public async Task HandleRegister()
    {
        var editContext = new EditContext(user);
        var isValid = editContext.Validate();

        if (isValid)
        {
            string apiUrl = "https://localhost:44363/api/identity/register";
            var result = await Http.PostAsJsonAsync<RegisterUserModel>(apiUrl, user);

            if (result.IsSuccessStatusCode)
            {
                Login();
            }
            else
            {
                var responseContent = await result.Content.ReadAsStringAsync();
                handelResponse.HandleError(responseContent);
                user.Password = "";
            }
        }
    }

    // public async Task HandleResponse(string jsonResponse)
    // {
    //     try
    //     {
    //         var response = JsonSerializer.Deserialize<ApiResponse>(jsonResponse, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
            
    //         if (response != null && !response.Succeeded)
    //         {
    //             errorDivMessage = response.Message != null ? response.Message : string.Empty;
    //             errorDivDetails = response.Errors != null ? string.Join(", ", response.Errors) : string.Empty;
    //         }
    //     }
    //     catch (Exception ex)
    //     {
    //         Console.WriteLine(ex.Message);
    //     }
    // }

    void Login() => NavigationManager.NavigateTo("login");

}

    
